{%extends "base.html"%}

{%block main%}

<table id="samplelist" class="table">
	<thead>
		<tr>
			<th>Sample ID</th>
			<th>Sample Number</th>
	</thead>
	<tbody>
		{% if nextURL %}
		<p>Next: {{ nextURL }}</p>
		{% endif %}
		{% if total %}
		<p>Total: {{ total }}</p>
		{% endif %}
		{% for sample in samples %}
		<tr>
			<td td class="sample_value">{{sample.0}}</td>
			<td class="sample_label"><a href="{% url 'sample' sample %}" target="_blank" >{{sample.1}}</a></td>
		</tr>
		{%endfor%}
	</tbody>
	</thead>
</table>
	    <a href=""> &lt;&lt; First </a>
		{% if pagenum > 20 %}
			<a href='{% url samplelist pagenum %}p/'>&lt; Prev </a>
		{% endif %}
		{% if pagenum > 1 %}
			{% if nextURL %}
				<a href="{% url samplelist pagenum %}">Next &gt; </a>
				<!-- {% for link in offsets %}
				<a href="{{ link }}">{{ forloop.counter }}</a>
				{% endfor %} -->
			{% endif %}
		{% endif %}
		<a href="">Last &gt;&gt; </a>

{%endblock%}

