
{% extends "base.html" %}

	<body>
			{% block title %}
				<h3>Subsample {{subsample.attributes.id}}</h3>
			{% endblock %}

			{%block main%}


			<table id="subsampleview_table" class="table">
				<tbody>
					<tr>
						<td class="subsample_label">Owner</td>
						<td class="subsample_value">{{subsample.attributes.owner_name}}</td>
					</tr>
					<tr>
						<td class="subsample_label">Name</td>
						<td class="subsample_value">{{subsample.attributes.name}}</td>
					</tr>
					<tr>
						<td class="subsample_label">Public</td>
						<td class="subsample_value">{{subsample.attributes.public}}</td>
					</tr>
					<tr>
						<td class="subsample_label">Type</td>
						<td class="subsample_value">{{subsample.attributes.type}}</td>
					</tr>
					<tr>
						<td class="subsample_label">Image Count</td>
						<td class="subsample_value">{{subsample.attributes.image_count}}</td>
					</tr>
					<tr>
						<td class="subsample_label">Analysis Count</td>
						<td class="subsample_value">{{subsample.attributes.chemical_analysis_count}}</td>
					</tr>
				</tbody>
			</table>	

			<hr>
			
			
			<h4 id="ss_images">Subsample Images</h4>
			<table id="subsampleviewimg_canvas">
				<thead>
					<tr>
						<th>Thumbnail</th>
						<th>filename</th>
						<th>Image Type</th>
						<th>Collector</th>
						
					</tr>
				</thead>
				<tbody>
					{%for image in images%}
					<tr id="thumb_row"><!-- images pointing to the file locations in the server, cant change this to generic as of now-->
						<td><a href="http://metpetdb.rpi.edu/metpetweb/image/?checksum={{image.checksum_half}}" rel="lightbox" 
							title="Image type: {{ image.image_type }} <br>
								File name: {{ image.filename }} <br>
								<a href='http://metpetdb.rpi.edu/metpetweb/image/?checksum={{image.checksum}}' target='_blank'>View Original</a>"><img src="http://metpetdb.rpi.edu/metpetweb/image/?checksum={{image.checksum_64x64}}"></a></td>
						<td>{{image.filename}}</td>
						<td>{{image.image_type}}</td>
						<td>{{image.collector}}</td>
					</tr> 
					{%endfor%}
				</tbody>	
			</table>

			<hr>
			<h4 id="chemtable">Chemical Analyses</h4>
			<table id="chemtable_canvas">
				<thead>
					<tr>
						<th>Point Number</th>
						<th>Public</th>
						<th>Analysis Method</th>
						<th>Analysis Material</th>
						<th>Analysis Location</th>
						<th>Analyst</th>
						<th>Analysis Date</th>
						<th>Reference X</th>
						<th>Reference Y</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					{%for chemanalysis in chemanalyses%}
					<tr><!-- URL needs to be changed to named url+ generic view type -->
						<td><a href="{% url chemanalysis chemanalysis.id %}" target="_blank">{{chemanalysis.pointnumber}}</a></td>
						<td>{{chemanalysis.public_data}}</td>
						<td>{{chemanalysis.analysis_method}}</td>
						<td>{{chemanalysis.analysis_material}}</td>
						<td>{{chemanalysis.analysis_location}}</td>
						<td>{{chemanalysis.analyst}}</td>
						<td>{{chemanalysis.analysis_date}}</td>
						<td>{{chemanalysis.reference_x}}</td>
						<td>{{chemanalysis.reference_y}}</td>
						<td>{{chemanalysis.total}}</td>
					</tr> 
					{%endfor%}
				</tbody>	
			</table>


<! ------------------ JS for the page elements---------------------------------------------------------------!>
			

			<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>		
			<script type="text/javascript">

				$(document).ready(function() {
				    $('#chemtable_canvas').dataTable();
				    $('#subsampleviewimg_canvas').dataTable({
				    	'fnDrawCallback': function() {$('#thumb_row td a').lightBox()}
				    });
				} );
			</script>	
			
	{%endblock%}

